.intro {
	background: url(../img/beach.jpg) no-repeat bottom center scroll;
    background-color: #000;
}

.content-section {
    padding-top: 100px;
}

.mysection {
	padding-top: 40px;
}

@media(min-width: 992px){

	.mysection {
	    padding-top: 170px;
	}

}
/* NOT WORKING
@media screen and (max-width: 720px) {

	h2 {
		font-size: 10px;
	}

	h3 {
		font-size: 15px;
	}

	p {
		font-size: 10px;
	}
}*/

@media screen and (max-width: 767px) {

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 15px;
	}
}

@media screen and (max-width: 992px) {

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 21px;
	}

	p {
		font-size: 16px;
	}
}

@media screen and (max-width: 1200px) {

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 19px;
	}
}

@media screen {

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 19px;
	}
}

/* Carousel base class */
.carousel {
  height: 730px;
  margin-bottom: 60px;
}

.carousel-caption {
  position: absolute;
  top: 0px;
  right: 15%;
  bottom: 0px;
  left: 15%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #FFF;
  text-align: center;
  text-shadow: 0 0;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 730px;
  background-color: #000;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  opacity: 0.7;
}

.myscroll {
	padding-top: 325px;
}

.myschoolsection {
	height: 100vh;
}

.schoolpad {
	padding-top: 100px;
}

.sidebarfont {
	font-size: 18px;
}

.myfooter {
    position: absolute;
    color: #444;
    bottom:5px;
    width: 250px;
    margin: 0;
    padding: 10px;
    list-style: none;
}