.intro {
	background: url(../img/Black_Blue.jpg) no-repeat bottom center scroll;
   background-color: #000;
}

#quadShadow {
    -webkit-animation: quadFade 5s 1, myFade 5s 1; /* Chrome, Safari, Opera */
    animation: quadFade 5s 1, myFade 5s 1;

    -webkit-animation-fill-mode: forwards;
}

#rovShadow {
    -webkit-animation: rovFade 5s 1, myFade 5s 1; /* Chrome, Safari, Opera */
    animation: rovFade 5s 1, myFade 5s 1;

    -webkit-animation-fill-mode: forwards;
}

#heartShadow {
    -webkit-animation: heartFade 5s 1, myFade 5s 1; /* Chrome, Safari, Opera */
    animation: heartFade 5s 1, myFade 5s 1;

    -webkit-animation-fill-mode: forwards;
}

#orangeShadow {
    -webkit-animation: orangeFade 5s 1, myFade 5s 1; /* Chrome, Safari, Opera */
    animation: orangeFade 5s 1, myFade 5s 1;

    -webkit-animation-fill-mode: forwards;
}

#greenShadow {
    -webkit-animation: greenFade 5s 1, myFade 5s 1; /* Chrome, Safari, Opera */
    animation: greenFade 5s 1, myFade 5s 1;

    -webkit-animation-fill-mode: forwards;
}

#blueShadow {
    -webkit-animation: blueFade 5s 1, myFade 5s 1; /* Chrome, Safari, Opera */
    animation: blueFade 5s 1, myFade 5s 1;

    -webkit-animation-fill-mode: forwards;
}

#purpleShadow {
    -webkit-animation: purpleFade 5s 1, myFade 5s 1; /* Chrome, Safari, Opera */
    animation: purpleFade 5s 1, myFade 5s 1;

    -webkit-animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myFade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myFade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes quadFade {
    100% {text-shadow: 0 0 30px #ffff66;}
}

/* Standard syntax */
@keyframes quadFade {
    100% {text-shadow: 0 0 30px #ffff66;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rovFade {
    100% {text-shadow: 0 0 30px #33ccff;}
}

/* Standard syntax */
@keyframes rovFade {
    100% {text-shadow: 0 0 30px #33ccff;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes heartFade {
    100% {text-shadow: 0 0 30px #ff5050;}
}

/* Standard syntax */
@keyframes heartFade {
    100% {text-shadow: 0 0 30px #ff5050;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes orangeFade {
    100% {text-shadow: 0 0 30px #ff9933;}
}

/* Standard syntax */
@keyframes orangeFade {
    100% {text-shadow: 0 0 30px #ff9933;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes greenFade {
    100% {text-shadow: 0 0 30px #33cc33;}
}

/* Standard syntax */
@keyframes greenFade {
    100% {text-shadow: 0 0 30px #33cc33;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes blueFade {
    100% {text-shadow: 0 0 30px #3399ff;}
}

/* Standard syntax */
@keyframes blueFade {
    100% {text-shadow: 0 0 30px #3399ff;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes purpleFade {
    100% {text-shadow: 0 0 30px #ff66d8;}
}

/* Standard syntax */
@keyframes purpleFade {
    100% {text-shadow: 0 0 30px #ff66d8;}
}